version: "3.9"

services:
  backend:
    build:
      context: ./backend
    container_name: dzen-backend
    ports:
      - "4000:4000"
    restart: always

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_URL: ${VITE_API_URL:-http://localhost:4000}
    container_name: dzen-frontend
    ports:
      - "80:80"
    depends_on:
      - backend
    restart: always

networks:
  default:
    driver: bridge
